body{
    overflow-x: hidden;
}
.navbar-default{
                background: none;
                border: none;
                width:1000px;
            }
    .brand_miu{
            border-bottom:3px solid #050505;
            margin-top:15px;
        }
        #brand{
            color:#050505;
            display: inline-block;
            font-size: 50px;
            margin-left: 20px;
            padding-top: 10px;
            font-family: "DFKai-SB";
        }
        #brand:hover{
            text-decoration: none;
        }
        .brand_menu{
            font-size: 18px;
            margin-right: 10px;
            margin-top: 20px;
            font-family: "DFKai-SB";
        }
        .menu_list{
            background: rgba(255,255,255,0.7);
            width:100%;
            font-family: "DFKai-SB";
        }


            
            .memu_index_list{
                width: 100%;
            }
            .memu_index_list li{
                width:20%;
                text-align: center;
            }
            .memu_index_list li a{
                font-size: 22px;
            }



 .div_pp_footer{
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.5);
    clear: both;
   
}
.div_pp_footer p{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
     font-family: "DFKai-SB";
}

/*登录注册*/
.frosted-glasss{   
    width: 100%;   
    height: 100%;
    position: fixed; 
    top: 0px;
    left: 0px;     
    -webkit-filter: blur(8px);   
    -moz-filter: blur(8px);   
    -ms-filter: blur(8px);   
    -o-filter: blur(8px);   
    filter: blur(8px);   
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);   
}   

#submit_div,#add_div{
    display: none;
    margin-top:100px;
    margin-left:500px;
    width: 400px;
    height: 600px;
    position:relative;

}

.submit_add,.add_add{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0%;
    left: 0%;
  overflow:hidden;
    border-radius: 30px;
    background: rgba(75, 75, 72, 0.701961);
    border-top: 50px solid rgba(255, 255, 255, 0.498039);
    border-bottom: 50px solid rgba(255, 255, 255, 0.498039);
}
.close_x_add{
    width: 40px;
    height: 40px;
    position:absolute;
    top: 76%;
    left: 48%;
    cursor: pointer;
    background: url("../images/close.png") no-repeat;
    background-size:contain; 
}


.submit_add form,.add_add form{
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    height: 100%;
}
.submit_add label,.add_add label{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}
.submit_add label{
    margin-top: 40px;
}
.submit_add input,.add_add input{
    border: none;
    border-bottom:1px solid #ccc; 
    background: none;
    width:280px;
}
.submit_add span,.add_add span{
    font-size: 14px;
}
.btn{
    margin-top: 30px;
    width: 150px;
    color: #fff;
    font-size:16px;
    margin-left: 20px;
    border: none;
    border-bottom:1px solid #ccc; 
    background: none;
}
.add_user{
    position: relative;
    top:130px;
    font-size: 14px;
    color: #fff;
}